# (todo: What goes on this line?)
# Betaflight / STM32H723 (SH72) 4.3.0 March 17 2022 / 00:00:00 (ee740d1) MSP API: 1.44

board_name MERCURYH7
manufacturer_id ANYL

# IMU
resource GYRO_EXTI 1 B12
resource GYRO_CS 1 C04
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW0FLIP # todo
set gyro_1_align_pitch = 1800  # todo


# Barometer
set baro_hardware = I2C
set baro_i2c_device = 2
set baro_i2c_address = 119


# Flash
resource FLASH_CS 1 E11 # todo qspi
set blackbox_device = SPIFLASH
set flash_spi_bus = 2


# SPI
resource SPI_SCK 1 A05
resource SPI_MISO 1 A06
resource SPI_MOSI 1 A07

resource SPI_SCK 3 B03
resource SPI_MISO 3 B04
resource SPI_MOSI 3 B05


# Quadspi
resource QUADSPI_SCK B13
resource QUADSPI_IO0 D11
resource QUADSPI_IO1 D12
resource QUADSPI_IO2 B13
resource QUADSPI_IO3 D13


# I2C
resource I2C_SCL 1 A15
resource I2C_SDA 1 B09

resource I2C_SCL 2 A09
resource I2C_SDA 2 A08


# UART
resource SERIAL_TX 1 B06
resource SERIAL_RX 1 B07

resource SERIAL_TX 2 A02
resource SERIAL_RX 2 A03

resource SERIAL_TX 3 D08
resource SERIAL_RX 3 B11

resource SERIAL_TX 4 C10
resource SERIAL_RX 4 C11

# UART7: Onboard ELRS
resource SERIAL_TX 7 B03
resource SERIAL_RX 7 B04

resource SERIAL_TX 8 E01
resource SERIAL_RX 8 E00


# ADC
resource ADC_BATT 1 A04
resource ADC_CURR 1 B02
set adc_batt_device = 2  # ADC2_IN17
set adc_curr_device = 2  # ADC2_IN12

set current_meter = ADC
set battery_meter = ADC
set vbat_scale = 110  # todo
set ibata_scale = 110  # todo


# Timer
timer C06 AF2    # Tim3 ch1
timer C07 AF2    # Tim3 ch2
timer C08 AF2    # Tim3 ch3
timer C09 AF2    # Tim3 ch4

resource MOTOR 1 C06
resource MOTOR 2 C07
resource MOTOR 3 C08
resource MOTOR 4 C09

resource BEEPER 1 E09

# DMA

# Todo: I don't think this syntax is right.

# Stream 0 for IMU Tx. Stream 1 for IMU Rx.
dma SPI1TX 0
dma SPI1RX 1

# Streams 2-5 Motors 1-4 respectively.
dma TIM2 2 3  # Motor 1: Stream 2. Motor 2: Stream 3
dma TIM3 4 5  # Motor 3: Stream 4. Motor 4: Stream 4

# Streams 6 and 7 for ADC voltage, current measurements.
dma ADC 2 6  # ADC 2, channel 17 for voltage measurement
dma ADC 2 7  # ADC 2, channel 12 for current measurement


# Feature
feature RX_SERIAL
feature TELEMETRY
feature ELRS 


# Master
set system_hse_mhz = 16

# set mag_hardware = NONE